<!DOCTYPE html>
<html lang="ko">
	<head>
	<link rel="stylesheet" th:href="@{/login.css}">
	</head>
	
	<body>
		<div class = "login">
			<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />				
				<div th:if="${#fields.hasErrors()}" class="alert-box">
				    <ul>
				        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
				    </ul>
				</div>
				<h1>회원가입</h1>
				<label>Username</label>
				<input type="text" th:field="*{username}">
				<label>Password 1</label>
				<input type="password" th:field="*{password1}">
				<label>Password 2</label>
				<input type="password" th:field="*{password2}">
				<label for="email">email</label>
				<input type="email" th:field="*{email}" class="form-control">
				<button type="submit">확인</button>
			</form>
		</div>
	</body>